
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <br>
    <a class="bnt btn-sm btn-primary" routerLink="/newuser">Add new user</a>
        
<table class="table table-sm">

    <th>id</th>
    <th>firstName</th>
    <th>lastName</th>
    <th>email</th>
    <th>actions</th>
    
        <ng-container *ngFor="let user of userslist">

                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <a class="text-success" routerLink='/user/{{user.id}}'>Edit</a> / 
                        <a class="text-danger"  (click)="delete(user)" >Delete </a>
                        
                </tr>
                
            </ng-container>
</table>
</div>
<div class="col-md-2"></div>
</div>